body {
    background-color: #d7d7d7;
    /* background:  lightslategray url("../images/snowBG.jpg") repeat fixed 0 0; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1, h3
{
    text-align:center;
}
h1 {
    color: rgb(11, 104, 192);
    text-align: center;
}
h3
{
    background-color:lightblue;
    color:grey;
    font-size:0.9em;
    margin-bottom:0px;
}

.aperçuChapitre p
{
    margin-top:0px;

}
.aperçuChapitre
{
  display: inline-block;
  text-align: center;
  background-color:rgba(112, 202, 232, 0.961);
  margin-left: 1%;
  margin-right: 1%;
  border: 1px grey solid;
  margin-bottom: 1%;
}
#H2Commentaire{
    padding-top: 1%;
    margin-left: 1%;
}
.derniereParution{
    border: 1px solid lightcyan;
}

a
{
    text-decoration: none;
    color: blue;
}


p {
    color: black;
    text-align: center;
    padding: 2rem;
}

/* header {
    display: flex;
    justify-content: space-between;
   
}  */

/* #imgheader{
    max-width: 100%;
} */

#H1HeaderBlog{
    position: relative;
    z-index: 2;
    /* left: 35%;
    right: auto; */
    text-align: center;
    top: 6%;
    bottom: auto;
    color: rgba(169, 249, 252, 0.945);
    text-shadow: 7px 0px 5px lightslategrey ;
    font-size: 5rem;
    text-decoration: none;
    font-variant: small-caps;
    text-transform: capitalize;

}
.fa-sign-in-alt {
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 2rem;
    color: black;
    z-index: 2;
}

#metierJFHeader{
    position: relative;
    color: antiquewhite;
    font-size: 10px;
    font-style: italic;
    
    left: 36.5%;
    right: auto;
    top:0;
    bottom: auto;
    z-index: 2;
    }


/*------- MENU ADMIN------*/
#navigationAdmin{
    width: 50px;
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
    top: 10%;
    right: 0;
    position: fixed;
  
}
#navigationAdmin li {
    height: 50px;
   
    
  }
  #navigationAdmin li a {
    display: block ;
    text-decoration: none ;
    padding: 4px 0 ;
  }
.fa-user-times{
    /* position: absolute;
    top: 50px;
    right: 50px; */
    font-size: 2rem;
    color: black;
    z-index: 2;
}

.fa-igloo{
    /* position: absolute;
    top: 90px;
    right: 50px; */
    font-size: 2rem;
    color: black;
    z-index: 2;
}  
.fa-tasks{
    /* position: absolute;
    top: 130px;
    right: 50px; */
    font-size: 2rem;
    color: black;
    z-index: 2; 
}
.fa-comment-dots{
    /* position: absolute;
    top: 170px;
    right: 50px; */
    font-size: 2rem;
    color: black;
    z-index: 2; 
}

.fa-user-times:hover{
    /* position: absolute;
    top: 50px;
    right: 50px;*/
    font-size: 2rem; 
    color: red;
    z-index: 2;
}

.fa-igloo:hover{
    /* position: absolute;
    top: 90px;
    right: 50px; */
    font-size: 2rem;
    color: yellowgreen;
    z-index: 2;
}  
.fa-tasks:hover{
    /* position: absolute;
    top: 130px;
    right: 50px; */
    font-size: 2rem;
    color: yellow;
    z-index: 2; 
}
.fa-comment-dots:hover{
    /* position: absolute;
    top: 170px;
    right: 50px; */
    font-size: 2rem;
    color: blue;
    z-index: 2; 
}
/*------- FIN MENU ADMIN------*/




/*-----------PAGE DE CONNEXION-------------*/
#h2formconnexion{
    text-align: center;
}

/* .form_inscription{
    width: 30%;
    margin: 30%;
    margin-top: 0;

} */


/*--------Commentaire Signaler---------*/


.fa-thumbs-down {
    color: red;
}

#laissetoncommentaire{
    display: flex;

}

#commentairesChapitre{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    padding: 10px;

}
.elementCommentaireChapitre{
    width: 33.33%;
    margin-top: 10px;
    margin-bottom: 10px;
}



/*------PIED DE PAGE-------*/

footer  {
    border-top: 2px solid whitesmoke;
    text-align: center;
    justify-content: center;
    color: red;
    font-size: 12px;
    bottom: 0;
    position: relative;
}
/*  de la factorisation et de la division back and front.STYLE.CSS */

#datestyle{ 
    font-size: 10px;
}

/* formulaire dinscription */
/* 
#tableauinscription{
    border: none;
    background-color: rgba(0, 0, 0, 0);
}
#tableauinscription td{
    border: none;
    background-color: rgba(0, 0, 0, 0);
}


#tdlabel{
    width: 20%;
    align-content: center;
    background-color: rgba(0, 0, 0, 0);
    text-align: right;

}
#tdinput{
    width: 20%;
    align-content: center;
    background-color: rgba(0, 0, 0, 0);
    text-align: left;

}

#racolage{
    color: lightslategray;
} 

.form_connexion{
    display:flex;
    flex-direction: column;
    white-space: nowrap;
}*/
 label{
    display: flex;
    flex-direction: column;
    padding-top: 5px;
} 
#password{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.formCommentaire{
   position: relative;
   left: 1%;
}

/*------404------*/
#quatrecentquatre{
  width: 100%;
  max-height: 90vh;
}
.retourAccueuil{
    position: absolute;
    top:250px;

}
.retourAccueuil a{
    color: #030303;
}



/*--------------------*/
#quatresangquatre{
    font-size: 14rem;
    text-align: center;
    color: #030303;
    font-style: bold;
    padding-bottom: 0;
}

#chuck{
    position: relative;
    top: -200px;
    color: #030303;
    text-align: center;
    font-size: 2rem;
}





/* test */

#inputCommentaire {
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
	background-color:#63b8ee;
	border-radius:6px;
	border:1px solid #3866a3;
	display:inline-block;
	cursor:pointer;
	color:#14396a;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #7cacde;
    margin: 1rem;
}
#inputCommentaire:hover {
	background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
	background-color:#468ccf;
}
#inputCommentaire:active {
	position:relative;
	top:1px;
}

       